

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form #passForm="ngForm" (ngSubmit)="onSubmit(passForm)" role="form">
            <legend>Change Password</legend>
        
            <div class="alert alert-{{alertType}}" *ngIf="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{alertText}}!</strong>
            </div>

            <div class="form-group required">
                <label for="currentpass">Current Password</label>
                <input type="password" class="form-control" id="currentpass" name="currentpass" placeholder="Current Password" ngModel required>
            </div>
            <div class="form-group required">
                <label for="newpass">New Password</label>
                <input type="password" class="form-control" id="newpass" name="newpass" placeholder="New Password" ngModel required>
            </div>
            <div class="form-group required">
                <label for="confirmpass">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Confirm Password" ngModel required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>                
    </div>
</div>
